.channel-info{
    grid-area: CI;
    background-color: var(--primary);
    display: flex;
    padding: 0px 1rem;
    align-items: center;
    box-shadow: 0 2px 0 0  rgba(0,0,0,0.2);
    z-index: 2;

    &__icon{
        color: var(--symbol);
        font-size: 17px;
        margin-right: 9px;
    }

    &__text{
        color: var(--white);
    }

    &__palo{
        height: 24px;
        width: 1px;
        opacity: 0.2;
        margin: 0 13px ;
        display: block;
        background-color: var(--white);
    }

    &__text-secon{
        color: var(--gray);
        font-size: 15px;
    }
}